body {
    background: #1f1f1f;
    color: #e5e7eb;
    font-family: sans-serif;
    width: 350px;
    padding: 10px;
}

.view {
    display: block;
}

.btn {
    background: #4f46e5;
    color: white;
    border: none;
    padding: 6px 10px;
    border-radius: 6px;
    cursor: pointer;
    margin-bottom: 8px;
}

.btn.back {
    background: #555;
}

.folder-list div {
    margin-bottom: 6px;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: #111827; 
    color: #e5e7eb;
    overflow: auto;
    font-family: system-ui, sans-serif;
}

.fullpage {
    display: flex;
    flex-direction: column;
    height: 100%;
}
